{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "athena.labels.common" . | nindent 4 }}
  annotations:
    cert-manager.io/cluster-issuer: {{ .Values.ingress.tls.clusterIssuer }}
    {{- if .Values.security.subnet.restrictAccess.gsAPI }}
    nginx.ingress.kubernetes.io/whitelist-source-range: {{ template "whitelistCIDR" . }}
    {{- else }}
    {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- end }}
    {{- if .Values.ingress.externalDNS }}
    {{- if .Values.services.athena.host }}
    external-dns.alpha.kubernetes.io/hostname: {{ .Values.services.athena.host }}
    {{- else }}
    external-dns.alpha.kubernetes.io/hostname: athena.{{ .Values.baseDomain }}
    {{- end }}
    giantswarm.io/external-dns: managed
    {{- end }}
spec:
  ingressClassName: {{ .Values.ingress.ingressClassName }}
  rules:
  {{- if .Values.services.athena.host }}
  - host: {{ .Values.services.athena.host }}
  {{- else }}
  - host: athena.{{ .Values.baseDomain }}
  {{- end }}
    http:
      paths:
      - path: /
        pathType: ImplementationSpecific
        backend:
          service:
            name: {{ .Values.name }}
            port:
              number: 8000
  tls:
  - hosts:
    {{- if .Values.services.athena.host }}
    - {{ .Values.services.athena.host }}
    {{- else }}
    - athena.{{ .Values.baseDomain }}
    {{- end }}
    secretName: "{{ .Values.name }}-certs-secret"
{{- end }}
